*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(145deg, rgb(252, 52, 169),rgb(255, 0, 47));
    /* position: relative; */
}
.box{
    position: relative;
}
input{
    padding: 11px;
    width: 241px;
    background: #ffe0e5;
    border: 2px solid white;
    border-radius: 4px;
    position: relative;
}
select{
    position: absolute;
    right: 0;
    bottom: 13px;
    margin-right: 10px;
    background: transparent;
    border: 0;
}

.hide{
    visibility: hidden;
}