* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}

#quiz-header {
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
}

#question-container {
    margin-bottom: 20px;
}

#question {
    font-size: 20px;
    margin-bottom: 20px;
    color: #555;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover:not([disabled]){
    background-color: #0056b3;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff
}
.btn:disabled{
    cursor: no-drop;
}

#quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

    /* .next-btn {
        background-color: #28a745;
    }

    .next-btn:hover {
        background-color: #218838;
    } */

#score {
    font-size: 16px;
    color: #555;
}

.correct {
    background-color: #28a745;
    color: white;
}

.incorrect {
    background-color: #dc3545;
    color: white;
}
/* 
.hide {
    display: none;
} */
